.none {
    border: 5px none black;
}

.hidden {
    border: 5px hidden black;
}

.dotted {
    border: 5px dotted black;
}

.dashed {
    border: 5px dashed black;
}

.solid {
    border: 5px solid black;
}

.double {
    border: 5px double black;
}

.groove {
    border: 5px groove black;
}

.ridge {
    border: 5px ridge black;
}

.inset {
    border: 5px inset black;
}

.outset {
    border: 5px outset black;
}