/* Declaración de las etiquetas */

body, html {
    background-color: #FFFFFF;
    margin: 0 5px;
    font-family: Arial;
    text-align:justify;
    font-size: 12pt;
}

form {
    line-height: 25px;
    margin-left: 0px;
    background-color: #EEEEEE;
    text-align: justify;
}

input, label {
    line-height: 9px;
    height:15px;
    font-size: 12pt;
    font-family:Arial;
    text-align: left;
    border-radius: 5px;
}

textarea{
    line-height: 15px;
    font-family:Arial;
    font-size: 15px;
    text-align: justify;
    border-radius: 5px;
}

button{
        font-size:12pt;
        font-family:Arial;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        height:25px;
        border-radius: 5px;
}

